<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<section th:replace="componentes/tiempo :: interceptor"></section>
    <div class="container">
        <a th:href="@{/form}" class="btn btn-success my-3">Volver</a>
        <ul class="list-group my-2">
            <li class="list-group-item active" th:text="${titulo}"></li>
            <li class="list-group-item" th:text="${user.nombre}"></li>
            <li class="list-group-item" th:text="${user.apellido}"></li>
            <li class="list-group-item" th:text="${user.username}"></li>
            <li class="list-group-item" th:text="${user.password}"></li>
            <li class="list-group-item" th:text="${user.email}"></li>
            <li class="list-group-item" th:text="${user.identificador}"></li>
            <li class="list-group-item" th:text="${user.cuenta}"></li>
            <li class="list-group-item" th:text="${user.pais.id}"></li>
            <li class="list-group-item" th:text="${user.pais.codigo}"></li>
            <li class="list-group-item" th:text="${user.pais.nombre}"></li>
            <li class="list-group-item" th:text="${#dates.format(user.fechaNacimiento,'dd/MM/yyyy')}"></li>
            <li class="list-group-item" th:text="'Habilitado: ' + ${user.habilitar}"></li>
            <li class="list-group-item" th:text="'Genero: ' + ${user.genero}"></li>
            <li class="list-group-item" th:text="${user.valorSecreto}"></li>
        </ul>

        <ul class="list-group my-3">
            <li class="list-group-item active" th:text="'Roles'"></li>
            <li class="list-group-item" th:each="role: ${user.roles}" th:text="${role.id} + ' ' + ${role.nombre} + ' ' + ${role.role}"></li>
        </ul>
    </div>
</body>
</html>