<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<li>
    <a th:href="@{/variables/string/} + 'Hola Andres'">/variables/string/Hola Andres</a>
</li>
<li>
    <a th:href="@{/variables/string/} + 'Que tal Jhon'">/variables/string/Que tal jhon</a>
</li>
<li>
    <a th:href="@{/variables/string/} + 'Hola Andres' + '/' + 13">/variables/string/Hola Andres/13</a>
</li>
</body>
</html>